@tailwind base;
@tailwind components;
@tailwind utilities;
@import './typography';
@import './button';

section {
    @apply px-4 md:px-2;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    @apply text-black dark:text-white;
    // color: rgb(var(--foreground-rgb));
    // background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

section {
    @apply w-full;
}

.container {
    @apply w-full max-w-[1440px] mx-auto;
}
.row {
    @apply flex flex-wrap w-full;
}
